@charset "ISO-8859-1";
body{
	margin:0;
	color:#6a6f8c;
	
	font:600 16px/18px 'Open Sans',sans-serif;
	
}

.about-img {

  background-image: url('contact.jpg');
	min-height:700px;
  
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* Bckpage navbar */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/*  */
.backnavbar {
  overflow: hidden;
  
}

/* Navbar links */
.backnavbar a {
  float: left;
  color:white;
  text-align: center;
  padding: 7px 7px;
  text-decoration: none;
  font-size: 22px;
}

.about-hr{
	height:2px;
	margin:9px 0 50px 0;
	background:rgba(114,114,25,.9);
}


.abt {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.abt .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 95%;
  padding: 20px
}
.button:hover {
  background-color:DodgerBlue;
}